<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'customers')}">

<body>

  <h2 th:text="#{customer}">Customer</h2>
  <form th:object="${customer}" class="form-horizontal" id="add-customer-form" method="post">
    <div class="form-group has-feedback">
      <input th:replace="~{fragments/inputField :: input (#{firstName}, 'firstName', 'text')}" />
      <input th:replace="~{fragments/inputField :: input (#{lastName}, 'lastName', 'text')}" />
      <input th:replace="~{fragments/inputField :: input (#{email}, 'email', 'text')}" />
      <input th:replace="~{fragments/inputField :: input (#{phone}, 'phone', 'text')}" />
      <input th:replace="~{fragments/inputField :: input (#{address}, 'address', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button th:with="text=${customer['new']} ? #{addCustomer} : #{updateCustomer}" class="btn btn-primary"
          type="submit" th:text="${text}">Add Customer</button>
      </div>
    </div>
  </form>
</body>

</html>
